body {
  background-color: #5ebcff;
  color: black;
}

.button {
  background-color: #235b9b;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    padding: 10px;
}

input[type=text], textarea {
  background-color: white;
  color: white;
}